.titel {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  @include tablet {
    font-size: 26px;
    line-height: 1.59;
  }
  @include desktop {
    font-size: 32px;
  }

  color: var(--main-titel-color);
}
