:root {
  --maim-color: #232a31;
  --second-color: #ffffff;
  --accent-color: #59bc73;
  --hero-titel-color: #000000;
  --main-titel-color: #232a31;
  --second-titel-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
}
