.end .container {
  padding-top: 58px;
  padding-bottom: 74px;
  text-align: center;
  background-color: var(--maim-color);
  @include tablet {
    padding-top: 88px;
    padding-bottom: 88px;
    text-align: start;
  }
  @include desktop {
    padding-top: 84px;
    padding-right: 84px;
    padding-bottom: 84px;
    padding-left: 84px;
  }
}
.end {
  width: 100vp;
  background-color: var(--maim-color);
}
.navigation {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
    margin-bottom: 60px;
  }
  @include desktop {
    margin-bottom: 70px;
  }
}
.logo-footer {
  display: block;
  margin-bottom: 42px;
  @include tablet {
    margin-bottom: 0;
  }
}
.navigation-list {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 0;
  }
}
.navigation-item:not(:last-child) {
  margin-bottom: 12px;
  @include tablet {
    margin-bottom: 26px;
  }
}
.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-text-color);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.conection {
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.footer-conection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  @include tablet {
    gap: 58px;
  }
}
.footer-conection-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-conection-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 2.06;
  color: var(--second-color);
  @include desktop {
    font-size: 18px;
  }
}
.tel-icon,
.footer-soc-icon {
  fill: currentColor;
}
.copi {
  font-size: 15px;
  line-height: 2.06;

  color: var(--second-text-color);
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
}
