.numbers .container {
  width: 100%;
  padding-top: 54px;
  padding-bottom: 54px;

  @include tablet {
    padding: 84px 54px;
  }
  @include desktop {
    padding: 108px 485px;
  }
}
.numbers-list {
  display: flex;
  flex-wrap: wrap;

  gap: 48px;

  margin-left: auto;
  margin-right: auto;
  @include tablet {
    justify-content: center;
  }
}
.numbers-item {
  width: 100%;
  @include mobile {
    width: calc((100% - 48px) / 2);
  }
  @include tablet {
    // gap: 69px;
    width: calc((100% - 150px) / 4);
  }
  @include desktop {
    gap: 150px;
    width: calc((100% - 150px) / 4);
  }
}
// .numbers-content {
//   width: 121px;
//   height: 61px;
//   @include desktop {
//     width: 138px;
//     height: 68px;
//   }
// }
.numbers-text {
  margin-top: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  @include desktop {
    font-size: 18px;
    line-height: 1.22;
  }
}
